@media (max-width: 539px) {
  header {
    .menu__icon {
      display: block;
    }
    .menu__list {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--bg-color);
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(-100%);
      transition: all 0.3s;

      &.active {
        transform: translateX(0);
      }
    }

    .menu__link {
      font-size: 35px;
    }
  }
  main {
    .main__body {
      .main__title {
        font-size: 26px;
      }
    }
  }
}
@media (max-width: 780px) {
  main {
    .main__title {
      font-size: 46px;
    }
  }
  .clients {
    .clients__titile {
      font-size: 35px;
      padding: 35px 0;
    }
  }
  body {
    .works {
      padding: 20px 0;
      .card__body:not(:last-child) {
        padding-bottom: 33px;
      }
      .works__title {
        padding-bottom: 40px;
      }
      .card__body {
        .card__description {
          font-size: 28px;
        }
      }
    }
  }
}
@media (max-width: 1058px) {
  .works {
    .card__body {
      flex-direction: column;
      align-items: flex-start;
      img {
        max-width: 100%;
      }

      &.card-r {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
